@import "reset.css";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

h1{
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em;
}
h2{
    font-size: 1.5em;
    font-weight: 700;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
abbr {
    display: inline;
}
/*change visibility of accessibility text*/
.sr-only {
    visibility: hidden;
}



/*Part A*******************************/
/*text and headings*/
section#parta{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    padding: 1em;
}
section#parta .firstp::first-letter{
    font-size: 1.5em;
}
section#parta h2{
    padding: 0em 0 0.5em 0;
}
/*margins,borders, and padding*/
section#parta > div {
    border: .2rem solid #f775bb;
    border-radius: 10px;
    margin-right: 50%;
    margin: 1em 50% 1em 1em;
    padding: 1em;
}
/*list*/
section#parta ul{
    padding: 0.75em 0 1em 3em;
    list-style-image: url('../images/ribbon.png');
}
section#parta li{
    padding: 0.5em 0 .5em 0;
}
/*links*/
section#parta a {
    color: #f775bb;
    font-weight: 700;
}
section#parta a:visited {
    color: deeppink;
}
/********************************/


/*Part B*******************************/
section#partb{
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    padding: 1em;
}
/*all sections of the table
borders, padding, alignment*/
section#partb tr, 
section#partb td, 
section#partb th {
    border: solid white;
    color: white;
    padding:0.5em;
    text-align: center;
}
/*specific font styling*/
section#partb th {
    font-weight: bold;
}
section#partb tbody tr td {
    color: black;
}
/*check and x marks*/
section#partb i.fa-times {
    color: red;
}
section#partb i.fa-check {
    color: green;
}/*background colours and edge rounding, every other row*/
section#partb tbody tr:first-child td, 
section#partb tbody tr:nth-child(3) td,
section#partb tbody tr:nth-child(5) td {
    background-color: #d0c3d0;
}
section#partb tbody tr:nth-child(2) td, 
section#partb tbody tr:nth-child(4) td,
section#partb tbody tr:nth-child(6) td {
    background-color: #aa98aa;
}
/*top edge*/
section#partb thead tr th {
    background-color: #51344d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
/*left edge*/
section#partb tbody tr > th {
    background-color: #755c75;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*empty top right corner cell*/
section#partb thead tr th:first-child {
    background-color: white;
}
/*bottom row*/
section#partb tbody tr:nth-child(7) *  {
    background-color: #8c93a8;
    color: white;
}
/*************************************/

/*********************Part C**************************/
section#partc{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 1em;
}

section#partc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rebeccapurple;
    margin: 1em;
    padding: 1em;
    border-radius: 7px;
    flex-wrap: wrap;
}
section#partc div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    
}
section#partc form{
    padding: 0.3em 0 0 0;
}
section#partc div > ul{
    display: flex;
    flex-direction: row;
    padding: 0 1em 0 1em;
}

section#partc div > ul > li{
    padding: 0.5em 1em 0 1em;
}

section#partc form{
    display: flex;
    flex-direction: row;
}

html body section#partc div div form input:nth-child(2) {
    background-color:#2ec4b6;
    border:none;
    border-radius: 5px;
    padding:0.5em;
    padding-right:7em;
}
html body section#partc div div form input:nth-child(3) {
    border:none;
    border-radius: 1em;
    padding: 0 1em 0 1em;
    background-color: lightgrey;
    color: rebeccapurple;
}
section#partc i {
    color: white;
}

section#partc i[class='fas fa-quidditch'] {
    font-size: 2em;
}
section#partc i[class='fas fa-search'] {
    position: relative;
    top:0.4em;
    left: 1.8em;
}

section#partc a {
    color: #ccff66;
    text-decoration: none;
}
section#partc a:visited {
    color: #ff6666;
}
section#partc a:hover {
    color: white;
}
/********************************/

/*Part D*******************************/
section#partd {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    padding: 1em;
}
/*entire box flexbox*/
section#partd > div {
    display: flex;
    flex-direction: row;
    border: solid darkgrey;
    border-radius: 5px;
    justify-content:space-around;
    margin: 1em 5em 1em 5em;
    min-width: 35em;
}
/*checkout side of flexbox*/
/*#checkout*/
section#partd > div > div:first-child{
    flex: 5;
    padding: 1em;
}
/*all fieldset boxes*/
section#partd fieldset{
    padding: 0.5em;
    margin: 1em 0.5em 1em 0.5em;
    border: solid darkgrey;
    border-radius: 5px;
}
section#partd fieldset > legend{
    font-weight: bold;
}
/*all label padding*/
section#partd form fieldset label {
    padding: 0 0 0.25em 0;
}
/*email address*/
section#partd form fieldset:first-child > div{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
/*email specific label padding*/
section#partd form fieldset > div:first-child label {
    padding: 0 0 0.25em 0;
}
/*payment section*/
/*.paymentinner*/
section#partd form fieldset:nth-child(2) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div {
    padding:0.5em;
}
/*security code, expiry*/
/*cardcode*/
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
/*put the elements inside payment into a flex container*/
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div:first-child,
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div,
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div:nth-child(3){
    display: flex;
    flex-direction: column;
}
/*seccode,expiry*/
section#partd form fieldset:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
    width: 50%;
}
/*shipping radio buttons*/
section#partd form fieldset:nth-child(3) > div > div{
    padding: 0.5em 0 0.5em 0.5em;
}
/*button*/
section#partd form > div:nth-child(4) {
    display: flex;
    justify-content: right;
    padding: 0 0.75em 0 0;
}
section#partd form > div:nth-child(4) button {
    background-color: #0061d1;
    color: white;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 1em;
}
section#partd form > div:nth-child(4) button:hover {
    background-color:  #0041a1;
    color: white;
}

/*cart side*/
/*whole cart*/
section#partd > div > div:nth-child(2){
    flex: 1.2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: solid darkgrey;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: rgb(238, 234, 234);
    padding-right: 3em;
}
/*each item of list, holds title, cost, image*/
section#partd > div > div:nth-child(2) li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 0 1em 0;
    border-bottom: solid darkgrey;
    padding: 1em;
    
}
/*image sizing*/
section#partd img.moneysign{
    width: 1em;
}
section#partd img.product {
    width: 3.5em;
}
/*price and item*/
section#partd > div > div:nth-child(2) li > div:nth-child(2)  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
}
section#partd > div > div:nth-child(2) li > div:nth-child(2) >div:first-child {
    padding: 1.1em 0 0 0;
}
section#partd > div > div:nth-child(2) > div {
    padding:1em;
    flex:1;
    justify-content: space-between;
}
/*text for the cart items*/
section#partd > div > div:nth-child(2) ul  li  div span {
    font-style: italic;
    white-space: nowrap;
    font-size: small;
}
/*quantity and title*/
section#partd > div > div:nth-child(2)  ul  li > div:first-child {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: left;
}
/*qty styling*/
section#partd > div > div:nth-child(2)  ul  li > div:first-child span.qty{
    padding:0 0.25em 0 0.25em;
    position: relative;
    bottom: 0.5em;
    left: 0.3em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    color: white;
    background-color: black;
    border: solid darkgrey;
    border-radius: 200px;
}
/***********************************/

/*******Part E*******/
section#parte {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
section#parte h3 {
    margin: 1em;
    margin-left: 2em;
    font-style: italic;
    font-size: small;
}

/*inspiration from: https://css-tricks.com/making-css-animations-feel-natural/*/
@keyframes slidein {
    0% {
        transform: scale(1,1) translateX(1000px);
    }
    50% {
        transform: scale(1.1,0.9) translateX(-150px);
    }
    100% {
        transform: translateX(0);
    }
}
/*inspiration from: https://www.tutorialspoint.com/css/css_animation_fade_in.htm*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 } 

section#parte> div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

/*personal card*/
/* Inspiration from https://www.w3schools.com/howto/howto_css_cards.asp */
section#parte> div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 30%;
    padding: 1em;
    margin: auto;
    margin-bottom: 5em;
    
    animation-duration: 5s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.3, 2, 0.75, 1.3);

}
section#parte> div > div:nth-child(2) img{
    margin:auto;
    width: 75%;
    padding: 1em;
    border-radius: 30px;
}
section#parte> div > div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}
section#parte> div > div:nth-child(2) h2 {
    margin: auto;
    padding: 0.1em 0 0 0;
}
section#parte> div > div:nth-child(2) h3 {
    margin: auto;
    padding: 0.25em 0 0 0;
}
section#parte> div > div:nth-child(2) i {
    font-size:3em;
}
section#parte> div > div:nth-child(2) a{
    color: blue;
}
section#parte > div > div:nth-child(2) a:visited{
    color: darkblue;
}


/*side lists*/
section#parte > div > div:nth-child(3),
section#parte > div > div:first-child {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 20%;
    padding: 1em;
    margin-bottom: 5em;
    align-items: center;
    min-width: 13em;

    animation-duration: 10s;
    animation-name: fadein;
}
section#parte > div > div:nth-child(3) h2,
section#parte > div > div:first-child h2 {
    padding-left: 1em;
}
section#parte > div > div:nth-child(3) ul,
section#parte > div > div:first-child ul{
    padding: 0.75em 0 1em 3em;
}
section#parte > div > div:nth-child(3) li,
section#parte > div > div:first-child li{
    padding: 0.5em 0 .5em 0;
}
section#parte > div > div:nth-child(3) img,
section#parte > div > div:first-child img{
    width: 10em;
    margin-left:2em;
}
