@import "reset.css";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

h1{
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em;
}
h2{
    font-size: 1.5em;
    font-weight: 700;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
abbr {
    display: inline;
}
/*change visibility of accessibility text*/
.sr-only {
    visibility: hidden;
}



/*Part A*******************************/
/*text and headings*/
section#parta{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    padding: 1em;
}
section#parta .firstp::first-letter{
    font-size: 1.5em;
}
section#parta h2{
    padding: 0em 0 0.5em 0;
}
/*margins,borders, and padding*/
section#parta > div {
    border: .2rem solid #f775bb;
    border-radius: 10px;
    margin-right: 50%;
    margin: 1em 50% 1em 1em;
    padding: 1em;
}
/*list*/
section#parta ul{
    padding: 0.75em 0 1em 3em;
    list-style-image: url('../images/ribbon.png');
}
section#parta li{
    padding: 0.5em 0 .5em 0;
}
/*links*/
section#parta a {
    color: #f775bb;
    font-weight: 700;
}
section#parta a:visited {
    color: deeppink;
}
/********************************/



/*Part B*******************************/
section#partb{
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    padding: 1em;
}
section#partb table, section#partb tbody, section#partb tr, section#partb td, section#partb th {
    border: solid white;
    color: white;
    padding:0.5em;
    text-align: center;
}
section#partb th {
    font-weight: bold;
}
section#partb tbody tr td {
    color: black;
}
section#partb i.fa-times {
    color: red;
}
section#partb i.fa-check {
    color: green;
    
}
section#partb tr.s1 td {
    background-color: #d0c3d0;
}
section#partb tr.s2 td{
    background-color: #aa98aa;
}
section#partb thead tr.head th {
    background-color: #51344d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
section#partb tr.s1 th, section#partb tr.s2 th{
    background-color: #755c75;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
section#partb thead tr.head th.empty {
    background-color: white;
}
section#partb tr.price  {
    background-color: #8c93a8;
}
section#partb tbody tr.price td {
    color: white;
}
section#partb table tbody tr.price th.bottomleft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*************************************/

/*********************Part C**************************/
section#partc{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 1em;
}

section#partc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rebeccapurple;
    margin: 1em;
    padding: 1em;
    border-radius: 7px;
    flex-wrap: wrap;
}
section#partc div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    
}
section#partc form{
    padding: 0.3em 0 0 0;
}
section#partc div > ul{
    display: flex;
    flex-direction: row;
    padding: 0 1em 0 1em;
}

section#partc div > ul > li{
    padding: 0.5em 1em 0 1em;
}

section#partc form{
    display: flex;
    flex-direction: row;
}

section#partc input#search {
    background-color:#2ec4b6;
    border:none;
    border-radius: 5px;
    padding:0.5em;
    padding-right:7em;
}
section#partc input#submit {
    border:none;
    border-radius: 1em;
    padding: 0 1em 0 1em;
    color: rebeccapurple;
}
section#partc i {
    color: white;
}

section#partc i[class='fas fa-quidditch'] {
    font-size: 2em;
}
section#partc i[class='fas fa-search'] {
    position: relative;
    top:0.4em;
    left: 1.8em;
}

section#partc a {
    color: #ccff66;
    text-decoration: none;
    
}
section#partc a:visited {
    color: #ff6666;
}
/********************************/

/*Part D*******************************/
section#partd {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    padding: 1em;
}
/*entire box flexbox*/
section#partd > div {
    display: flex;
    flex-direction: row;
    border: solid darkgrey;
    border-radius: 5px;
    justify-content:space-around;
    margin: 1em 5em 1em 5em;
    min-width: 35em;
}
/*checkout side of flexbox*/
section#partd div#checkout{
    flex: 5;
    padding: 1em;
}
/*all fieldset boxes*/
section#partd fieldset{
    padding: 0.5em;
    margin: 1em 0.5em 1em 0.5em;
    border: solid darkgrey;
    border-radius: 5px;
}
section#partd div.paymentinner {
    display: flex;
    flex-direction: column;
}
section#partd div.paymentinner > div {
    padding:0.5em;
}
/*security code, expiry*/
section#partd div.cardcode {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
section#partd div.cardname, div.cardnum, div.codemonthyear {
    display: flex;
    flex-direction: column;
}
section#partd div.codemonthyear {
    width: 50%;
}
section#partd fieldset.payment label {
    padding: 0 0 0.25em 0;
}
section#partd fieldset.contact label {
    padding: 0 0 0.25em 0;
}
/*button*/
section#partd div.button {
    display: flex;
    justify-content: right;
    padding: 0 0.75em 0 0;
}
section#partd div.button button {
    background-color: #0061d1;
    color: white;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 1em;
}
section#partd div.button button:hover {
    background-color:  #0041a1;
    color: white;
}
/*shipping radio buttons*/
section#partd div.shipbuttons > div{
    padding: 0.5em 0 0 0.5em;
}
/*email address padding*/
section#partd div.email{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
/*cart side*/
section#partd div#cart{
    flex: 1.2;
}
section#partd div#cart {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: solid darkgrey;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: rgb(238, 234, 234);
    padding-right: 3em;
}
section#partd li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em 0 0.5em 0
    
}
section#partd img.moneysign{
    width: 1em;
}
section#partd img.product {
    width: 3em;
}
section#partd div.priceitem  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
}
section#partd div.price {
    padding: 1.1em 0 0 0;
}
section#partd li {
    border-bottom: solid darkgrey;
    padding: 1em;
}
section#partd div.total {
    padding:1em;
    flex:1;
    justify-content: space-between;
}
/*text for the cart items*/
section#partd #cart  ul  li  div span {
    font-style: italic;
    white-space: nowrap;
}
section#partd #cart  ul  li  div.prodtitleandqty {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-evenly;
}
section#partd #cart  ul  li  div span.qty {
    padding:0 0.25em 0 0.25em;
    position: relative;
    bottom: 0.5em;
    left: 0.3em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    color: white;
    background-color: black;
    border: solid darkgrey;
    border-radius: 200px;
}
/***********************************/

/*******Part E*******/
/* Inspiration from https://www.w3schools.com/howto/howto_css_cards.asp */

/*for bill on monday, try this maybe??? https://www.w3schools.com/howto/howto_css_flip_card.asp */

section#parte {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
section#parte i {
    font-size:3em;
}

/*inspiration from: https://css-tricks.com/making-css-animations-feel-natural/*/
@keyframes slidein {
    0% {
        transform: scale(1,1) translateX(1000px);
    }
    50% {
        transform: scale(1.1,0.9) translateX(-150px);
    }
    100% {
        transform: translateX(0);
    }
  }

section#parte div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 30%;
    padding: 1em;
    margin: auto;
    margin-bottom: 5em;
    
    animation-duration: 5s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.3, 2, 0.75, 1.3);
}
section#parte img{
    margin:auto;
    width: 75%;
    padding: 1em;
    border-radius: 30px;
}
section#parte ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}

section#parte h2 {
    margin: auto;
    padding: 0.1em 0 0 0;
}
section#parte h3 {
    margin: auto;
    padding: 0.25em 0 0 0;
}

section#parte a{
    color: blue;
}
section#parte a:visited{
    color: darkblue;
}
